#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share/python-custom


%:
	dh $@ --with python-virtualenv --with systemd

override_dh_virtualenv:
	dh_virtualenv --python=/usr/bin/python3 --setuptools-test
